
<div class="contenedor">
  <section id="inicio" class="inicio">
    <div class="contenido-banner">
      <div class="contenedor-img">
        <img src="assets/img/foto1.jpg" alt="Hero Image" class="img">
      </div>
      <h1>Leodanis Miranda</h1>
      <h2>Desarrollador Front end en Angular</h2>
      <div class="redes">
        <a href="https://www.facebook.com/100029953538129" target="_blank">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://wa.me/5356819790" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="mailto:leodanismiranda@gmail.com?subject=Contacto%20desde%20tu%20portafolio" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/leo-mg-252050322" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </section>
</div>

