
.inicio {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../../../assets/img/fondo.jpg)no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
   // margin-top: 75px;
    box-sizing: border-box;
  
    width: 100%;
    top: 0;
    left: 0;
  }
  .inicio .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 400px;
    margin: 5px;
    text-align: center;
    border-radius: 40px;
    width: 100%;
  }

  .inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
  }
  .img{
 
    height: 300px;
   // width: 229px;
  }
  .inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
  }
  .inicio .contenido-banner h2 {
    font-size: 15px;
    //font-weight: normal;
    font-family: 'Righteous';
    margin-top: 10px;
  }

  .inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
  }
  .inicio .contenido-banner .redes a:hover {
    background-color: #1CB698;
  }
  